/*Homepage*/

.navigationbar_section_container img {
	width: 200px;
	margin-top: 3%;
}

.home_cover_main {
	background-image: url('../img/cover/1.png');
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
	background-attachment: fixed;
}

.main_cover_text {
	padding-top: 22vh;
}

.main_cover_text h2 {
    font-family: 'Montserrat-Bold';
    color: white;
    font-size: 48px;
}

.main_cover_text h2 span {
	color: #FFD000;
}
.main_cover_text p {
	color: white;
	font-size: 17px;
	margin-bottom: 4%;
}

.yellow_btn {
	background: #FFD000;
    height: 40px;
    font-size: 14px; 
    width: 170px;
    border: none;
    color: white;
	transition: all ease 0.3s;
}
.yellow_btn:hover {
	background-color: transparent;
	color: #FFD000;
	
	border: solid 1px #FFD000;
	transition: all ease 0.3s;
}

.dark_btn {
	background: #2D3345;
    height: 40px;
    font-size: 14px; 
    width: 170px;
    border: none;
    color: white;
}
.dark_btn:hover {
	background-color: transparent;
	color: #2D3345;
	
	border: solid 1px #2D3345;
	transition: all ease 0.3s;
}
/*Small line of contact form*/
.small_padding {
	padding: 0px 2px;
}
.contact_section_home {
	background-color: #F1F2F2;
	padding: 1.5% 0px;
}

.contact_section_home h3 {
	font-family: 'Montserrat-Light';
	font-size: 18px;
	margin-top: 7px;
}

.contact_section_home input {
	width: 30%;
	border-radius: 3px;
	border: solid 1px #D1D3D4;
	height: 31px;
	padding: 0px 10px;
}

.contact_section_home button {
	background: #2D3345;
    height: 29px;
    font-size: 14px; 
    width: 30%;
    border: none;
    color: white;	
	transition: all ease 0.3s;
}
.contact_section_home button:hover {
	background-color: transparent;
	color: #2D3345;
	
	border: solid 1px #2D3345;
	transition: all ease 0.3s;
}

/*Secvices Section home page*/

.sevices_section {
	text-align: center;
	padding: 6% 10px;
}

.sevices_section h2 {
	font-family: 'Montserrat-Bold';
	width: 100%;
	font-size: 35px;
	margin-bottom: 10px;
}
.sevices_section h2 span {
	color: #FFD000;
}
.sevices_section h5 {
	font-family: 'HelveticaNeueLTStd-Ex';
	font-size: 14px;
	width: 100%;
}

.sevices_section img {
	width: 70%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.sevices_section p {
	font-size: 14px;
	font-family: 'HelveticaNeueLTStd-Ex';
}

.smallstar {
	width: 16% !important;
	position: absolute;
	top: -20px;
	right: 25px;
}
.bounce1 {
    -webkit-animation: bounce 2.0s infinite !important;
    animation: bounce 2.0s infinite !important;
}

/* Scroll down indicator (bouncing) */
@-webkit-keyframes bounce1 {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px); } }
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0); }
  40% {
    -moz-transform: translateY(-30px); }
  60% {
    -moz-transform: translateY(-15px); } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    transform: translateY(-15px); } }


.icons_section_pan_c {
	margin-top: 60px;
}

.services_buttons_all {
	text-align: center;
	width: 100%;
	margin-top: 3%;
}

.phone_section_hom {
    background-color: #2D3345;
}
.phone_section_hom .color_phon {
    background-color: #2D3345;
    padding: 22vh 15vh 10px;
}

.phone_section_hom h1 {
	color: white;
	margin: 0px;
	margin-bottom: 15px;
	font-family: 'Montserrat-Bold';
	font-size: 35px;
}
.phone_section_hom h2 {
	color: white;
	margin-bottom: 30px;
}
.phone_section_hom img {
	width: 100%;
}

/*Shopping section*/

.shopping_section {
	padding: 6% 10px;
}

.shopping_section .col-md-6 {
	padding: 17vh 13vh 30px;
}
.shopping_section h2 {
	font-family: 'HelveticaNeueLTStd-Ex';
	font-size: 40px;
	margin-bottom: 20px;
}

.footer_section {
	background: #2D3345;
    color: white;
    padding: 4% 0px 2%;
}

.footer_section h5 {
	font-family: 'HelveticaNeueLTStd-Ex';
	font-size: 12px;
}

.footer_section a p {
    color: white;
    padding: 0px;
    margin: 0px;
    font-size: 12px; 
}

.footer_section a p:hover {
	color: #FFD000;
	
}

.footer_section img {
	width: 100%;
}
.footer_section .hidden-md-up p {
	color: #fff;
	
}


